In [6]:
s = input('enter a string : ')
i = 0
count = 0
sum = 0
while i<len(s):
        if s[i].isdigit():
            count += 1
            sum += int(s[i])
        i += 1
print(count)
print('count is : ',count,'sum of digits is : ',sum)

enter a string : zxc123asd456qwe789
9
count is :  9 sum of digits is :  45

In [12]:
n = int(input('enter a number : '))
for i in range(1,n+1):
    print(i,end=' ')

enter a number : 12
1 2 3 4 5 6 7 8 9 10 11 12

In [6]:
s = input('enter a string : ')
i=0
while i<len(s):
    print(s[i],end=' ')
    i += 1
print()
for i in range(0,len(s)):
    print(s[i],end=' ')
print()
for i in s:
    print(i,end=' ')

enter a string : python
p y t h o n
p y t h o n
p y t h o n

## collection type data type :
### list :
1. for creating list use []
2. lists are mutable
3. lists are indexed
4. lists are ordered
5. list allows duplicate values
6. it stores heterogenious values

In [13]:
list1 = [23,34,456,56.67,'string',True]
print(list1[-1])
print(list1[2:4])
print(list1[-2][::-1])

True
[456, 56.67]
gnirts

In [15]:
list1 = [34,45,56,67]
print('before adding elements',list1)
list1.append(100)
list1.append(200)
list1.append(300)

print('After adding elements: ',list1)
list1.insert(1,400)
list1.insert(2,300)
list1.extend([1,2,3])
list1.pop(5)
list1.remove(56)
print(list1)

before adding elements [34, 45, 56, 67]
After adding elements:  [34, 45, 56, 67, 100, 200, 300]
[34, 400, 300, 45, 100, 200, 300, 1, 2, 3]

In [16]:
list1.clear()
print(list1)

[]

In [20]:
list1= [34, 45, 56, 67, 100, 200, 300]
list1.remove(200)
list1

[34, 45, 56, 67, 100, 300]

In [32]:
list1= [34, 45, 56, 67, 100, 200, 300,1,54,2,3]
list1.sort(reverse = True)
list1.reverse()
list1.index(100)

8

In [36]:
list1.count(56)

1

In [61]:
list2 = list1
print(list1,' ',list2)
list2
list1

[1, 2, 3, 34, 45, 54, 56, 67, 100, 200, 300, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75]   [1, 2, 3, 34, 45, 54, 56, 67, 100, 200, 300, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75]

[1,
 2,
 3,
 34,
 45,
 54,
 56,
 67,
 100,
 200,
 300,
 99,
 98,
 75,
 99,
 98,
 75,
 99,
 98,
 75,
 99,
 98,
 75,
 99,
 98,
 75,
 99,
 98,
 75,
 99,
 98,
 75,
 99,
 98,
 75,
 99,
 98,
 75,
 99,
 98,
 75,
 99,
 98,
 75,
 99,
 98,
 75]

In [66]:
print(list1,list2,list3)
list3.clear()

[1, 2, 3, 34, 45, 54, 56, 67, 100, 200, 300, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75] [1, 2, 3, 34, 45, 54, 56, 67, 100, 200, 300, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75, 99, 98, 75] []

In [97]:
l1=[2,4,5,6,8,9,7]
l2=[]
l3=[]
for i in range(0,len(l1)):
    l2.append(l1[i]**2)
print(l2)
for i in l1:
    l3.append(i**2)
print(l2)

[4, 16, 25, 36, 64, 81, 49]
[4, 16, 25, 36, 64, 81, 49]

In [98]:
li = []
n = int(input())
for i in range(n):
    li.append(int(input()))
    print(li)
    print(sum(li))

6
1
[1]
1
1
[1, 1]
2
2
[1, 1, 2]
4
6
[1, 1, 2, 6]
10
12
[1, 1, 2, 6, 12]
22
45
[1, 1, 2, 6, 12, 45]
67

In [ ]:
tup1 = (23,34,5)
x,y,z = tup1
print(x,y,z)

### dictionary
#### syntax:{key1:value1,key2:value2........}
#### key:
1. key should be unique
2. key should be immutable ---->int,float,single,tuple.

In [109]:
dict1 = {'name':'venku','course':'python','address':'hyderabad'}
dict1['course'] = 'c++'
dict1['college']='Gitam'
dict1

{'name': 'venku', 'course': 'c++', 'address': 'hyderabad', 'college': 'Gitam'}

In [116]:
#del dict1['address']
print(dict1)

{'name': 'venku', 'course': 'c++', 'college': 'Gitam'}

## Function:

In [119]:
def add(x,y):
    return x+y

print(add(10,20))
add(100,200)

30

300

In [123]:
x=2
while x<=10:
    print(x)
    x=x+1

2
3
4
5
6
7
8
9
10